https://www.datamanim.com/dataset/03_dataq/typeone.html#id4  

유튜브 공범컨텐츠 동영상 데이터

In [3]:
import pandas as pd
import numpy as np

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

- 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [4]:
video['videoname'].value_counts()

videoname
 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: count, dtype: int64

- 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [5]:
video['ct'] =pd.to_datetime(video['ct'])

In [21]:
id_max = video.groupby('videoname')[['ct']].idxmax()['ct'].values
id_max

# 먼저 각 videoname 별로 ct 의 가장최신 날짜 (max)의 index 을 구해서

array([ 3491,  6695,  9263, 11543, 13105, 14934, 13660, 15200])

In [22]:
# 해당 index (row) 의 video, ct, viewcnt 값을 축출한다. 
video.loc[id_max,['videoname','ct','viewcnt']]

      videoname                  ct  viewcnt
3491     공범 EP1 2021-11-01 15:30:03  3180532
6695     공범 EP2 2021-11-01 15:30:03  2199328
9263     공범 EP3 2021-11-01 15:30:03  1671294
11543    공범 EP4 2021-11-01 15:30:03  1818493
13105    공범 EP5 2021-11-01 15:30:04  1503435
14934    공범 EP6 2021-11-01 15:30:04  1750222
13660    공범 EP7 2021-11-01 15:30:05  1630200
15200    공범 EP8 2021-11-01 15:30:05  1289088

In [24]:
# 이건 ct, viewcnt 각각에 대한 max 값을 출력하는 건데. 결과가 이상하게 같네

video.groupby('videoname')[['ct','viewcnt']].max()

                           ct  viewcnt
videoname
 공범 EP1   2021-11-01 15:30:03  3180532
 공범 EP2   2021-11-01 15:30:03  2199328
 공범 EP3   2021-11-01 15:30:03  1671294
 공범 EP4   2021-11-01 15:30:03  1818493
 공범 EP5   2021-11-01 15:30:04  1503435
 공범 EP6   2021-11-01 15:30:04  1750222
 공범 EP7   2021-11-01 15:30:05  1630200
 공범 EP8   2021-11-01 15:30:05  1289088

- Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [104]:
channel['ct'] = pd.to_datetime(channel['ct'])

over211003 = channel['ct']>='2021-10-03'

min_id = channel[over211003].groupby('channelid')['ct'].idxmin().values
min_id
# 먼저 2021-10-01 보다 큰 날짜 중 channelid 별로 ct 값의 최소값(처음 기록) 을 갖는 index list 을 축출

array([ 393,  139,  774, 1028,  647,  901, 1276,   12,  520,  266, 1155])

In [40]:
# 해당 index (row) 의  channelname, subcnt 을 찾는다. 
channel.loc[min_id,['channelname','subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
139             야전삽짱재   257000
774           형사!탐정되다    14900
1028      릴펄 Lilpearl    10100
647               조나단   215000
901        김농밀의 농밀한 삶     7520
1276    Balming Tiger    54300
12                꽈뚜룹  1330000
520   와글와글 WagleWagle    55000
266        츄정ChuJeong   322000
1155    곽토리 kwak tori   471000

In [106]:
# groupby.apply()

def funx_subcnt(df_g):
    id = df_g['ct'].idxmin()
    return df_g.loc[id,['channelname','subcnt']]

channel[over211003].groupby('channelid')[['ct','channelname','subcnt']].apply(funx_subcnt)

                              channelname   subcnt
channelid
UCDV9zgWo7b6nPg7i49oRQ5Q           논리왕 전기   922000
UCEI4rb8YldV8v0dVUSo9ToQ            야전삽짱재   257000
UCI9W73BWje69k7f1m_I4mbQ          형사!탐정되다    14900
UCKOeR5Evsupc77nPL3qCMnw      릴펄 Lilpearl    10100
UCM9Rx3EqBJ-jMhD2E8Gjb4g              조나단   215000
UCOYhhfLMGY8OjsbfGNVf7Lw       김농밀의 농밀한 삶     7520
UCbBzKnCYcG7E3EIkSTdsawA    Balming Tiger    54300
UCkQCwnkQfgSuPTTnw_Y7v7w              꽈뚜룹  1330000
UClu0udsIHkalM416ttWe_Zw  와글와글 WagleWagle    55000
UCqwNCDzQBfw2seMRJpL-RWg       츄정ChuJeong   322000
UCs9H--14toIRdJQAD9qz9tA    곽토리 kwak tori   471000

- 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [65]:
date = (channel['ct']>='2021-10-03 03:00:00')&(channel['ct']<='2021-11-01 15:00:00')

In [71]:
# apply function 확인 
# channel 대신 groupby key 을 적용하면 된다.

start = channel.loc[date,'ct'].idxmin()
stop = channel.loc[date,'ct'].idxmax()
channel.loc[start,'subcnt'] - channel.loc[stop,'subcnt']

-1143000

In [107]:
def FunX(g_df):
    # print(g_df.name)
    start = g_df.loc[date,'ct'].idxmin()
    stop = g_df.loc[date,'ct'].idxmax()
    return g_df.loc[stop,'subcnt'] - g_df.loc[start,'subcnt']
# groupby key 별로 결과가 리턴된다.

channel.groupby('channelname')[['ct','subcnt']].apply(FunX)

channelname
Balming Tiger       2500
곽토리 kwak tori      -2000
김농밀의 농밀한 삶          1540
꽈뚜룹                70000
논리왕 전기            -11000
릴펄 Lilpearl        11000
야전삽짱재              11000
와글와글 WagleWagle        0
조나단                12000
츄정ChuJeong          1000
형사!탐정되다            10300
dtype: int64

- 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다.   
공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

str.lstrip()  :문자열 공백 제거

In [102]:
# video['videoname'].unique() 으로 어떻게 str 값이 들어 있는지 확인해 보자
# 왼쪽 공백 삭제 필요
video['videoname'] = video['videoname'].str.lstrip()

EP1 = video['videoname'] == '공범 EP1'
video[EP1]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1